@function px($px) {
  @return $px/2560*1rem;
}

@function font($font) {
  @return $font/1200*100%;
}

@mixin size($width,$height) {
  width: $width/2560*1rem;
  height: $height/2560*1rem;
}

section {
  height: px(1700);
  position: relative;
  img {
    @include size(2560, 1700);
    position: absolute;
  }
  article {
    font-size: font(18);
    line-height: 1.5;
    color: #5f3390;
    @include size(840, 860);
    float: left;
    position: absolute;
    top: px(560);
    left: px(170);
  }
}

footer {
  overflow: hidden;
  img {
    float: left;
    width: px(2560);
  }
}
